.tbl-dl { 
background-color: #fff; 
}  

.tbl2-dl { 
background-color: #eee; 
}

a.download-it {}
a.download-it:hover {
	cursor:pointer;
	text-decoration:none;
}
.message {
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px;            
	background-image: -webkit-gradient(linear, left top, right bottom,
	color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
	color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
	to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	transparent 75%, transparent);                  
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);        
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	z-index: 10000000000;
	width: 100%;
	border: 1px solid;
	color: #fff;
	font-size:18px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;	
	left: 0;	
	top: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-webkit-animation: animate-bg 5s linear infinite;
	-moz-animation: animate-bg 5s linear infinite;
}
.waitb{
	text-align:center;
	background-color: #4ea5cd;
	border-color: #3b8eb5;
	display:none;
}
.message h3
{
	margin: 0 0 5px 0;                                                     
}
.message p
{
	margin: 0;                                                     
}

@-webkit-keyframes animate-bg
{
from {
	background-position: 0 0;
}
to {
	background-position: -80px 0;
}
}

@-moz-keyframes animate-bg 
{
from {
	background-position: 0 0;
}
to {
	background-position: -80px 0;
}
}
.dl-thumb-tbl  {
padding-left: 30px;
}
.share-div {
padding-left: 30px; padding-top: 5px;
}
.dl-share-bookmark { 
	cursor: pointer; 
	text-align: right; 
	text-decoration: none; 
	border: 0px; 
	opacity : 0.60000002384185791015625; 
	filter:alpha(opacity=60); 
} 	
.dl-share-bookmark:hover { 
	cursor: pointer; 
	text-align: right;
	text-decoration: none; 
	border: 0px; 
	opacity : 0.800000011920928955078125;  
	filter:alpha(opacity=80); 
}
.license-message {
	background: url('/includes/downloads_includes/images/notice.png') no-repeat scroll 10px 50% #EEE;
	border: 1px solid #ccc;
	color: #555555;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 25px;
	width: 150px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.license-message:hover {
	background: url('/includes/downloads_includes/images/notice.png') no-repeat scroll 10px 50% #eaeaea;
	border: 1px solid #ccc;
	color: #555555;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 25px;
	width: 150px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.dl-message {
	background: url('/includes/downloads_includes/images/dl.png') no-repeat scroll 10px 50% #EEE;
	border: 1px solid #ccc;
	color: #555555;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 30px;
	width: 150px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.dl-message:hover {
	background: url('/includes/downloads_includes/images/dl.png') no-repeat scroll 10px 50% #eaeaea;
	border: 1px solid #ccc;
	color: #555555;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 30px;
	width: 150px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.dl-messageb {
	background: url('/includes/downloads_includes/images/dl.png') no-repeat scroll 20px 50% #EEE;
	border: 1px solid #ccc;
	color: #555555;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 11px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 40px;
	width: 70px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.dl-messageb:hover {
	background: url('/includes/downloads_includes/images/dl.png') no-repeat scroll 20px 50% #F7F7F7;
	border: 1px solid #ccc;
	color: #444;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 11px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 40px;
	width: 70px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.thumb-dl {
-moz-opacity: 0.80;
-khtml-opacity: 0.80;
opacity: 0.80;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
filter:alpha(opacity=80);
	background-color: #e0e0e0;
	-moz-box-shadow: inset 0 0 2px 2px #d8d8d8;
    -webkit-box-shadow: inset 0 0 2px 2px#d8d8d8;
    box-shadow: inset 0 0 2px 2px #d8d8d8;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	margin: 1px 5px 0 0; /* top right bottom left*/
	padding: 5px;
	}
	.thumb-dl:hover {
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
filter:alpha(opacity=100);
	background-color: #e0e0e0;
	-moz-box-shadow: inset 0 0 2px 2px #d8d8d8;
    -webkit-box-shadow: inset 0 0 2px 2px#d8d8d8;
    box-shadow: inset 0 0 2px 2px #d8d8d8;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	margin: 1px 5px 0 0; /* top right bottom left*/
	padding: 5px;
	}
.dl-blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.dl-itb {
	width: 200px; 
	height: 50px; 
	vertical-align:top;
	float:right; 
	margin: 0 250px 0 0;
}
.dl-licb { 
	height: 50px; 
	width: 200px; 
	vertical-align:top; 
	float:left; 
	margin: 0 0 0 250px; 
 }
 
@media only screen and (max-width: 767px) {
 
 .dll { 
	display: none; 
 } 
 .dlrat { 
	display: none; 
 } 
 .dllb { 
	display: none; 
 } 
 .dlratb {
	display: none; 
 } 
.dl-itb { 
	width: 200px; 
	height: 50px; 
	margin: 0 0 0 0;
 }
.dl-licb { 
	height: 50px; 
	width: 200px; 
	vertical-align:top;
	float:left; 
	margin: 0 0 0 0; 
 }
 .dlsearch { 
	display: none;
 } 
 .totdl {
	display: none; 
 }
.dl-thumb-tbl  {
padding: 0 0 0 130px;
}
.share-div {
padding-left: 125px; padding-top: 5px;
}
.dl-details-tbl {
font-size: 10px;
width: 100%;
}
 }
 
@media only screen and (max-width: 480px) {
 .dldate { 
	display: none; 
 } 
 .dlauthor {
	display: none; 
 } 
 .dldateb { 
	display: none; 
 } 
 .dlauthorb {
	display: none;
 } 
.dl-itb {
	width: 200px; 
	height: 50px;
	margin: 0 30px 0 0;
  }
.dl-licb {
	 height: 50px; 
	 width: 200px; 
	 vertical-align:top; 
	 float:left;
	 margin: 0 0 0 52px; 
 }
.dl-ads {
	display: none;
}
.dl-thumb-tbl  {
padding: 0 0 0 95px;
}
.share-div {
padding-left: 90px; padding-top: 5px;
}

.dl-details-tbl {
font-size: 10px;
width: 80%;
}
 }
 
 @media only screen and (min-width: 768px) and (max-width: 959px) {
 .dl-itb { 
	 width: 200px; 
	 height: 50px; 
	 margin: 0 150px 0 0;
 }
.dl-licb {
	 height: 50px;
	 width: 200px;
	 vertical-align:top;
	 float:left; 
	 margin: 0 0 0 150px;
 }
 
}